body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secrets-h1 {
  margin: 1rem 0;
}

.secret-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-align: left;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
  padding: 0 1rem;
}

.delete {
  padding: 11px;
}

.back {
  margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
  p {
    margin-bottom: 0.5rem;
  }

  .secrets-title {
    font-size: 3.5rem;
  }

  .secret-text {
    text-align: center;
  }
  
  .fa-key {
    margin-bottom: 2rem;
  }

  .delete {
    margin-bottom: 1.5rem;
  }

}

@media only screen and (max-width: 576px) {
  .secrets-title {
    font-size: 2rem;
  }

  .secret-text {
    font-size: 1.5rem;
    text-align: center;
  }

  .fa-key {
    margin-bottom: 2rem;
    font-size: 5rem;
  }
}